In [1]:
import pandas as pd

In [2]:
Data = pd.read_csv("C:\\Users\\NISHANT\\3D Objects\\CSV_Files\\Covid.csv")

In [4]:
pd.options.display.max_rows = 500

In [5]:
Data

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
5,6,S. Korea,"24,769,101","28,406",42.0,"24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
6,7,UK,"23,621,952","189,919",NaN,"23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
7,8,Italy,"22,432,803","177,054",NaN,"21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
8,9,Japan,"21,229,216","44,678",NaN,"20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
9,10,Russia,"20,948,470","387,163",NaN,"19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"
10,11,Turkey,"16,873,793","101,139",NaN,"16,754,301","18,353",975,"197,211","1,182","162,743,369","1,902,052","85,561,976"
11,12,Spain,"13,412,263","114,084",NaN,"13,218,892","79,287",339,"287,083","2,442","471,036,328","10,082,298","46,719,142"
12,13,Vietnam,"11,477,886","43,148",NaN,"10,590,917","843,821",106,"115,993",436,"85,826,548","867,342","98,953,541"
13,14,Australia,"10,209,239","14,984",NaN,"10,133,494","60,761",49,"391,627",575,"78,835,048","3,024,116","26,068,792"
14,15,Argentina,"9,708,420","129,897",NaN,"9,563,348","15,175",294,"211,006","2,823","35,716,069","776,264","46,010,234"
15,16,Netherlands,"8,422,336","22,643",NaN,"8,362,464","37,229",35,"489,345","1,316","21,107,399","1,226,358","17,211,447"
16,17,Iran,"7,548,320","144,421",NaN,"7,325,370","78,529",157,"87,748","1,679","54,095,556","628,851","86,022,837"
17,18,Mexico,"7,084,488","330,065",NaN,"6,353,953","400,470","4,798","53,849","2,509","18,393,211","139,806","131,562,772"
18,19,Indonesia,"6,429,767","158,093",NaN,"6,253,317","18,357","2,771","23,035",566,"108,656,989","389,264","279,134,505"
19,20,Taiwan,"6,417,941","11,003",NaN,"5,603,195","803,743",NaN,"268,661",461,"25,998,416","1,088,319","23,888,595"
20,21,Colombia,"6,307,372","141,794",NaN,"6,134,690","30,888",342,"122,443","2,753","36,572,720","709,974","51,512,762"
21,22,Poland,"6,289,672","117,539",NaN,"5,335,940","836,193","3,086","166,659","3,114","37,335,609","989,290","37,739,785"
22,23,Portugal,"5,490,639","25,024",NaN,"5,394,788","70,827",61,"541,453","2,468","44,988,307","4,436,467","10,140,570"
23,24,Ukraine,"5,177,217","109,206",NaN,"4,973,554","94,457",177,"119,865","2,528","19,521,252","451,963","43,192,122"
24,25,Austria,"5,118,512","20,738",NaN,"5,006,572","91,202",47,"564,539","2,287","197,543,761","21,787,811","9,066,710"
25,26,Greece,"4,920,192","33,111",NaN,"4,836,903","50,178",115,"476,918","3,209","94,139,966","9,125,063","10,316,637"
26,27,Malaysia,"4,838,872","36,369",NaN,"4,777,329","25,174",43,"145,832","1,096","64,604,259","1,947,021","33,181,072"
27,28,DPRK,"4,772,813",74,NaN,"4,772,739",0,NaN,"183,636",3,NaN,NaN,"25,990,679"
28,29,Thailand,"4,681,309","32,767",9.0,"4,642,083","6,459","1,496","66,801",468,"17,270,775","246,450","70,078,203"
29,30,Israel,"4,661,096","11,698",NaN,"4,641,394","8,004",101,"499,796","1,254","41,373,364","4,436,346","9,326,000"
30,31,Chile,"4,620,377","61,141",NaN,"4,540,886","18,350",124,"240,017","3,176","45,128,974","2,344,339","19,250,195"
31,32,Belgium,"4,533,249","32,659",NaN,"4,451,569","49,021",48,"388,511","2,799","35,555,508","3,047,194","11,668,278"
32,33,Canada,"4,233,468","44,992",NaN,"4,131,367","57,109",99,"110,280","1,172","64,928,884","1,691,366","38,388,419"
33,34,Peru,"4,143,085","216,539",NaN,"3,914,598","11,948",147,"122,998","6,429","35,126,382","1,042,815","33,684,208"
34,35,Czechia,"4,100,480","41,059",NaN,"4,035,333","24,088",39,"381,910","3,824","56,212,735","5,235,528","10,736,784"
35,36,Switzerland,"4,084,307","14,183",NaN,"4,012,833","57,291",54,"465,520","1,617","22,318,542","2,543,819","8,773,637"
36,37,South Africa,"4,018,769","102,185",NaN,"3,909,265","7,319",192,"66,146","1,682","26,174,429","430,811","60,756,135"
37,38,Philippines,"3,945,566","62,916",NaN,"3,854,478","28,172",696,"35,069",559,"32,796,350","291,500","112,508,994"
38,39,Romania,"3,267,370","67,016",NaN,"3,180,124","20,230",123,"171,684","3,521","25,094,131","1,318,569","19,031,335"
39,40,Denmark,"3,110,831","7,065",NaN,"3,093,396","10,370",NaN,"533,138","1,211","128,397,719","22,004,939","5,834,950"
40,41,Sweden,"2,588,441","20,194",NaN,"2,548,125","20,122",13,"253,298","1,976","18,965,590","1,855,920","10,218,971"
41,42,Iraq,"2,459,982","25,355",NaN,"2,433,704",923,21,"58,342",601,"19,239,264","456,286","42,164,965"
42,43,Serbia,"2,359,530","17,000",NaN,"2,298,536","43,994",33,"272,683","1,965","11,030,499","1,274,758","8,653,016"
43,44,Hungary,"2,094,142","47,503",NaN,"2,014,175","32,464",18,"217,998","4,945","11,394,556","1,186,160","9,606,259"
44,45,Bangladesh,"2,024,489","29,362",NaN,"1,964,501","30,626","1,331","12,059",175,"14,872,260","88,586","167,885,689"
45,46,Singapore,"1,904,192","1,617",NaN,"1,821,160","81,415",9,"320,380",272,"24,345,019","4,096,043","5,943,546"
46,47,Slovakia,"1,843,220","20,455",NaN,"1,817,938","4,827",22,"337,574","3,746","7,298,163","1,336,613","5,460,193"
47,48,Georgia,"1,780,691","16,900",NaN,"1,637,293","126,498",NaN,"448,679","4,258","16,920,079","4,263,340","3,968,738"
48,49,New Zealand,"1,779,476","2,959",NaN,"1,767,660","8,857",NaN,"363,292",604,"7,544,063","1,540,170","4,898,203"
49,50,Hong Kong,"1,761,381","10,153",NaN,"1,469,240","281,988",8,"231,630","1,335","54,352,132","7,147,553","7,604,299"
50,51,Jordan,"1,746,997","14,122",NaN,"1,731,007","1,868",59,"169,597","1,371","17,201,885","1,669,945","10,300,869"
51,52,Ireland,"1,663,653","7,905",NaN,"1,648,405","7,343",13,"331,392","1,575","12,708,583","2,531,490","5,020,199"
52,53,Pakistan,"1,572,598","30,616",3.0,"1,536,924","5,058",47,"6,853",133,"30,477,451","132,806","229,488,994"
53,54,Norway,"1,462,318","4,098",NaN,"1,457,108","1,112",20,"265,327",744,"11,002,430","1,996,315","5,511,370"
54,55,Kazakhstan,"1,393,468","13,690",NaN,"1,378,440","1,338",24,"72,557",713,"11,575,012","602,707","19,205,043"
55,56,Finland,"1,292,940","5,981",NaN,"1,263,711","23,248",21,"232,754","1,077","11,505,032","2,071,128","5,554,960"
56,57,Morocco,"1,264,935","16,278",NaN,"1,248,543",114,293,"33,488",431,"12,577,650","332,982","37,772,756"
57,58,Bulgaria,"1,258,670","37,714",NaN,"1,211,397","9,559",43,"183,892","5,510","10,559,171","1,542,702","6,844,597"
58,59,Lithuania,"1,249,134","9,320",NaN,"1,216,151","23,663",12,"469,298","3,502","10,174,473","3,822,535","2,661,708"
59,60,Croatia,"1,231,575","16,902",NaN,"1,209,524","5,149",10,"303,397","4,164","5,225,875","1,287,388","4,059,286"
60,61,Lebanon,"1,215,511","10,674",NaN,"1,087,587","117,250",74,"181,831","1,597","4,795,578","717,380","6,684,849"
61,62,Slovenia,"1,181,073","6,820",NaN,"1,145,051","29,202",22,"568,361","3,282","2,743,244","1,320,115","2,078,034"
62,63,Tunisia,"1,145,686","29,249",NaN,NaN,NaN,99,"95,104","2,428","4,948,208","410,754","12,046,656"
63,64,Guatemala,"1,123,465","19,789",NaN,"1,102,988",688,5,"60,453","1,065","5,884,813","316,660","18,584,039"
64,65,Cuba,"1,111,179","8,530",NaN,"1,102,548",101,23,"98,285",754,"14,149,157","1,251,512","11,305,652"
65,66,Bolivia,"1,108,195","22,234",NaN,"1,051,789","34,172",220,"92,406","1,854","2,705,422","225,590","11,992,656"
66,67,Costa Rica,"1,072,807","8,913",NaN,"860,711","203,183",52,"207,012","1,720","4,659,757","899,158","5,182,354"
67,68,UAE,"1,027,031","2,345",NaN,"1,006,369","18,317",NaN,"101,870",233,"190,586,733","18,904,066","10,081,785"
68,69,Ecuador,"1,003,778","35,894",NaN,"964,320","3,564",759,"55,416","1,982","3,082,403","170,173","18,113,361"
69,70,Nepal,"999,712","12,018",NaN,"986,617","1,077",NaN,"33,075",398,"5,936,702","196,413","30,225,582"
70,71,Belarus,"994,037","7,118",NaN,"985,592","1,327",NaN,"105,381",755,"13,646,641","1,446,722","9,432,800"
71,72,Panama,"986,866","8,497",NaN,"976,873","1,496",16,"221,919","1,911","7,062,027","1,588,056","4,446,964"
72,73,Uruguay,"985,422","7,485",NaN,"976,760","1,177",18,"281,870","2,141","6,114,822","1,749,083","3,496,016"
73,74,Mongolia,"982,864","2,179",NaN,"979,439","1,246",192,"290,954",645,"4,030,048","1,193,000","3,378,078"
74,75,Latvia,"929,051","5,990",NaN,"891,237","31,824",5,"502,506","3,240","7,650,009","4,137,741","1,848,837"
75,76,Azerbaijan,"821,162","9,910",NaN,"810,181","1,071",NaN,"79,723",962,"7,245,111","703,395","10,300,205"
76,77,Saudi Arabia,"816,389","9,351",NaN,"803,546","3,492",32,"22,776",261,"44,321,147","1,236,470","35,844,909"
77,78,Paraguay,"716,059","19,583",NaN,"696,110",366,7,"98,012","2,680","2,657,506","363,751","7,305,843"
78,79,Bahrain,"680,271","1,520",NaN,"675,724","3,027",2,"381,321",852,"10,376,306","5,816,370","1,783,983"
79,80,Sri Lanka,"670,763","16,761",NaN,"653,779",223,NaN,"31,089",777,"6,486,117","300,619","21,575,842"
80,81,Kuwait,"658,520","2,563",NaN,"655,316",641,3,"150,336",585,"8,365,279","1,909,739","4,380,326"
81,82,Dominican Republic,"644,016","4,384",NaN,"638,911",721,4,"58,248",397,"3,657,057","330,765","11,056,370"
82,83,Myanmar,"622,802","19,458",NaN,"597,898","5,446",NaN,"11,277",352,"9,056,450","163,985","55,227,143"
83,84,Palestine,"620,548","5,403",NaN,"608,749","6,396",17,"116,087","1,011","3,078,533","575,907","5,345,541"
84,85,Estonia,"601,869","2,681",NaN,"524,990","74,198",4,"455,303","2,028","3,536,858","2,675,566","1,321,910"
85,86,Moldova,"589,388","11,844",NaN,"504,142","73,402",49,"146,863","2,951","3,216,305","801,437","4,013,171"
86,87,Cyprus,"585,313","1,180",NaN,"578,452","5,681",60,"478,437",965,"9,640,118","7,879,860","1,223,387"
87,88,Venezuela,"544,687","5,814",NaN,"538,033",840,36,"18,611",199,"3,359,014","114,771","29,266,991"
88,89,Egypt,"515,645","24,613",NaN,"442,182","48,850",122,"4,857",232,"3,693,367","34,792","106,156,692"
89,90,Libya,"506,991","6,437",NaN,"500,507",47,101,"72,008",914,"2,481,983","352,517","7,040,745"
90,91,Ethiopia,"493,563","7,572",NaN,"471,918","14,073",1,"4,085",63,"5,258,807","43,529","120,812,698"
91,92,RÃ©union,"472,336",893,NaN,"418,572","52,871",10,"520,159",983,"1,603,660","1,766,027","908,061"
92,93,Honduras,"456,391","10,993",NaN,NaN,NaN,105,"44,651","1,076","1,528,531","149,544","10,221,247"
93,94,Qatar,"450,448",682,NaN,"443,418","6,348",4,"151,161",229,"3,951,470","1,326,034","2,979,915"
94,95,Armenia,"442,875","8,683",NaN,"430,192","4,000",NaN,"149,018","2,922","3,210,961","1,080,416","2,971,966"
95,96,Bosnia and Herzegovina,"398,668","16,136",NaN,"376,654","5,878",NaN,"122,693","4,966","1,861,041","572,748","3,249,317"
96,97,Oman,"397,993","4,260",NaN,"384,669","9,064",2,"74,755",800,"25,000,000","4,695,724","5,323,993"
97,98,North Macedonia,"342,775","9,534",NaN,"332,806",435,NaN,"164,692","4,581","2,130,257","1,023,520","2,081,304"
98,99,Kenya,"338,420","5,678",NaN,"332,663",79,1,"6,020",101,"3,881,967","69,055","56,215,221"
99,100,Zambia,"333,531","4,017",NaN,"329,375",139,NaN,"17,130",206,"3,731,374","191,645","19,470,234"
100,101,Albania,"332,173","3,588",NaN,"326,729","1,856",NaN,"115,886","1,252","1,941,032","677,173","2,866,374"
101,102,Botswana,"326,308","2,789",NaN,"322,955",564,1,"133,669","1,142","2,026,898","830,300","2,441,162"
102,103,Luxembourg,"288,658","1,123",NaN,"283,668","3,867",NaN,"449,363","1,748","4,402,293","6,853,194","642,371"
103,104,Montenegro,"280,002","2,781",NaN,"276,154","1,067",6,"445,899","4,429","2,624,193","4,178,984","627,950"
104,105,Algeria,"270,668","6,879",NaN,"182,306","81,483",6,"5,968",152,"230,861","5,091","45,350,148"
105,106,Nigeria,"265,382","3,155",NaN,"258,381","3,846",11,"1,224",15,"5,441,162","25,104","216,746,934"
106,107,Zimbabwe,"257,409","5,602",NaN,"251,281",526,12,"16,790",365,"2,511,501","163,814","15,331,428"
107,108,China,"250,449","5,226",NaN,"242,254","2,969",36,173,4,"160,000,000","110,461","1,448,471,400"
108,109,Uzbekistan,"244,199","1,637",NaN,"241,486","1,076",23,"7,103",48,"1,377,915","40,077","34,382,084"
109,110,Mozambique,"230,219","2,221",NaN,"227,882",116,11,"6,957",67,"1,371,127","41,437","33,089,461"
110,111,Brunei,"226,237",225,NaN,"222,140","3,872",3,"507,906",505,"717,784","1,611,437","445,431"
111,112,Martinique,"221,618","1,044",NaN,NaN,NaN,8,"592,424","2,791","828,928","2,215,870","374,087"
112,113,Laos,"215,843",758,NaN,NaN,NaN,NaN,"28,852",101,"1,233,207","164,845","7,481,023"
113,114,Kyrgyzstan,"206,083","2,991",NaN,"196,406","6,686",131,"30,629",445,"1,907,195","283,460","6,728,271"
114,115,Iceland,"205,637",213,NaN,NaN,NaN,2,"595,371",617,"1,996,384","5,780,036","345,393"
115,116,El Salvador,"201,785","4,229",NaN,"179,410","18,146",8,"30,805",646,"2,610,114","398,467","6,550,389"
116,117,Afghanistan,"199,067","7,799",NaN,"177,850","13,418","1,124","4,885",191,"1,103,716","27,082","40,754,388"
117,118,Guadeloupe,"192,801",989,NaN,NaN,NaN,19,"482,251","2,474","938,039","2,346,306","399,794"
118,119,Maldives,"185,042",308,NaN,"163,687","21,047",25,"342,046",569,"2,213,831","4,092,223","540,985"
119,120,Trinidad and Tobago,"182,597","4,195",NaN,"174,214","4,188",18,"129,816","2,982","834,508","593,287","1,406,585"
120,121,Uganda,"169,396","3,628",NaN,"100,431","65,337",3,"3,498",75,"3,012,408","62,198","48,432,863"
121,122,Namibia,"169,253","4,065",NaN,"164,813",375,NaN,"64,260","1,543","1,062,663","403,460","2,633,874"
122,123,Ghana,"169,100","1,459",NaN,"167,307",334,2,"5,220",45,"2,504,017","77,295","32,395,450"
123,124,Jamaica,"151,829","3,317",NaN,"99,239","49,273",NaN,"50,862","1,111","1,183,986","396,633","2,985,094"
124,125,Cambodia,"137,870","3,056",NaN,"134,745",69,NaN,"8,030",178,"3,069,567","178,789","17,168,639"
125,126,Rwanda,"132,498","1,466",NaN,"130,955",77,NaN,"9,742",108,"5,816,624","427,678","13,600,464"
126,127,Cameroon,"121,652","1,935",NaN,"118,616","1,101",13,"4,358",69,"1,751,774","62,762","27,911,548"
127,128,Malta,"114,652",806,NaN,"113,195",651,4,"258,206","1,815","2,060,900","4,641,322","444,033"
128,129,Angola,"103,131","1,917",NaN,"101,155",59,NaN,"2,944",55,"1,499,795","42,818","35,027,343"
129,130,Barbados,"102,546",559,NaN,"101,760",227,NaN,"356,034","1,941","765,378","2,657,350","288,023"
130,131,French Guiana,"93,974",410,NaN,"11,254","82,310",3,"299,119","1,305","651,257","2,072,951","314,169"
131,132,DRC,"92,852","1,442",NaN,"83,504","7,906",NaN,975,15,"846,704","8,890","95,240,792"
132,133,Channel Islands,"91,561",202,NaN,"90,639",720,NaN,"518,868","1,145","1,252,808","7,099,551","176,463"
133,134,Senegal,"88,373","1,968",NaN,"86,297",108,NaN,"5,006",111,"1,146,543","64,946","17,653,671"
134,135,Malawi,"88,024","2,682",NaN,"84,872",470,67,"4,362",133,"616,772","30,562","20,180,839"
135,136,Ivory Coast,"87,208",826,NaN,"86,338",44,NaN,"3,144",30,"1,628,106","58,687","27,742,298"
136,137,Suriname,"81,106","1,385",NaN,NaN,NaN,NaN,"135,894","2,321","239,178","400,747","596,831"
137,138,French Polynesia,"76,599",649,NaN,NaN,NaN,7,"269,559","2,284",NaN,NaN,"284,164"
138,139,New Caledonia,"74,152",314,NaN,"73,823",15,9,"254,892","1,079","98,964","340,182","290,915"
139,140,Eswatini,"73,390","1,422",NaN,"71,955",13,11,"61,942","1,200","1,045,903","882,755","1,184,817"
140,141,Guyana,"71,336","1,281",NaN,"69,977",78,NaN,"89,839","1,613","695,695","876,141","794,045"
141,142,Belize,"68,826",683,NaN,"68,079",64,6,"166,976","1,657","576,016","1,397,453","412,190"
142,143,Fiji,"68,242",878,NaN,"66,302","1,062",NaN,"75,035",965,"662,620","728,581","909,466"
143,144,Madagascar,"66,676","1,410",NaN,"65,242",24,NaN,"2,285",48,"512,993","17,581","29,178,077"
144,145,Sudan,"63,285","4,961",NaN,"57,290","1,034",NaN,"1,376",108,"562,941","12,240","45,992,020"
145,146,Mauritania,"62,812",995,NaN,"61,789",28,NaN,"12,814",203,"970,892","198,061","4,901,981"
146,147,Cabo Verde,"62,371",410,NaN,"61,890",71,23,"109,870",722,"401,622","707,482","567,678"
147,148,Bhutan,"61,730",21,NaN,"61,564",145,NaN,"78,343",27,"2,303,734","2,923,739","787,941"
148,149,Syria,"57,299","3,163",NaN,"54,078",58,NaN,"2,959",163,"146,269","7,553","19,364,809"
149,150,Burundi,"50,129",38,NaN,"49,559",532,NaN,"3,971",3,"345,742","27,386","12,624,840"
150,151,Gabon,"48,691",306,NaN,"48,292",93,NaN,"20,884",131,"1,616,256","693,216","2,331,533"
151,152,Seychelles,"47,141",169,NaN,"46,446",526,NaN,"474,132","1,700",NaN,NaN,"99,426"
152,153,Andorra,"46,227",155,NaN,"46,011",61,14,"596,762","2,001","249,838","3,225,256","77,463"
153,154,CuraÃ§ao,"45,127",282,NaN,"44,720",125,3,"272,623","1,704","496,693","3,000,640","165,529"
154,155,Papua New Guinea,"44,997",668,NaN,"43,982",347,7,"4,842",72,"249,149","26,813","9,292,169"
155,156,Aruba,"42,914",227,NaN,"42,438",249,2,"398,796","2,109","177,885","1,653,068","107,609"
156,157,Mauritius,"40,461","1,024",NaN,"38,786",651,NaN,"31,741",803,"358,675","281,374","1,274,727"
157,158,Mayotte,"40,243",187,NaN,NaN,NaN,NaN,"140,582",653,"176,919","618,038","286,259"
158,159,Tanzania,"39,440",845,NaN,NaN,NaN,7,623,13,NaN,NaN,"63,298,550"
159,160,Togo,"39,034",285,NaN,"38,528",221,NaN,"4,497",33,"791,865","91,220","8,680,837"
160,161,Isle of Man,"38,008",116,NaN,NaN,NaN,NaN,"443,335","1,353","150,753","1,758,422","85,732"
161,162,Guinea,"37,652",449,NaN,"36,880",323,8,"2,715",32,"660,107","47,607","13,865,691"
162,163,Bahamas,"37,267",833,NaN,"36,070",364,2,"93,047","2,080","248,846","621,314","400,516"
163,164,Faeroe Islands,"34,658",28,NaN,NaN,NaN,5,"703,959",569,"778,000","15,802,409","49,233"
164,165,Lesotho,"34,490",706,NaN,"25,980","7,804",NaN,"15,852",324,"431,221","198,199","2,175,699"
165,166,Haiti,"33,733",857,NaN,"31,307","1,569",NaN,"2,888",73,"132,422","11,337","11,680,283"
166,167,Mali,"32,625",742,NaN,"31,591",292,NaN,"1,519",35,"759,178","35,354","21,473,764"
167,168,Cayman Islands,"30,661",32,NaN,"8,553","22,076",1,"455,743",476,"222,773","3,311,280","67,277"
168,169,Saint Lucia,"29,408",391,NaN,"28,475",542,NaN,"158,865","2,112","210,354","1,136,355","185,113"
169,170,Benin,"27,638",163,NaN,"27,322",153,5,"2,162",13,"604,310","47,268","12,784,726"
170,171,Somalia,"27,214","1,352",NaN,"13,182","12,680",NaN,"1,616",80,"400,466","23,778","16,841,795"
171,172,Congo,"24,837",386,NaN,"24,006",445,NaN,"4,284",67,"347,815","59,991","5,797,805"
172,173,Timor-Leste,"23,253",138,NaN,"23,102",13,NaN,"16,980",101,"278,529","203,391","1,369,429"
173,174,Burkina Faso,"21,631",387,NaN,"21,143",101,NaN,979,18,"248,995","11,265","22,102,838"
174,175,Solomon Islands,"21,544",153,NaN,"16,357","5,034",1,"29,874",212,"5,117","7,096","721,159"
175,176,San Marino,"20,763",118,NaN,"20,524",121,4,"609,154","3,462","157,634","4,624,732","34,085"
176,177,Gibraltar,"20,092",108,NaN,"16,579","3,405",NaN,"596,131","3,204","534,283","15,852,213","33,704"
177,178,Liechtenstein,"19,713",86,NaN,"19,403",224,2,"513,533","2,240","102,174","2,661,682","38,387"
178,179,Grenada,"19,536",237,NaN,"19,248",51,4,"172,161","2,089","179,808","1,584,560","113,475"
179,180,Nicaragua,"18,491",225,NaN,"4,225","14,041",NaN,"2,728",33,NaN,NaN,"6,779,100"
180,181,Bermuda,"18,154",148,NaN,"17,969",37,NaN,"293,095","2,389","1,006,083","16,243,126","61,939"
181,182,South Sudan,"17,823",138,NaN,"17,335",350,1,"1,534",12,"410,280","35,313","11,618,511"
182,183,Tajikistan,"17,786",125,NaN,"17,264",397,NaN,"1,786",13,NaN,NaN,"9,957,464"
183,184,Equatorial Guinea,"17,012",183,NaN,"16,690",139,5,"11,367",122,"365,697","244,342","1,496,662"

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #                  230 non-null    int64
 1   Country,
Other     230 non-null    object
 2   Total
Cases        230 non-null    object
 3   Total
Deaths       225 non-null    object
 4   New
Deaths         3 non-null      float64
 5   Total
Recovered    214 non-null    object
 6   Active
Cases       215 non-null    object
 7   Serious,
Critical  147 non-null    object
 8   Tot Cases/
1M pop  228 non-null    object
 9   Deaths/
1M pop     223 non-null    object
 10  Total
Tests        214 non-null    object
 11  Tests/
1M pop      214 non-null    object
 12  Population         228 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 23.5+ KB

In [9]:
Data.describe().T

             count   mean        std  min    25%    50%     75%    max
#            230.0  115.5  66.539462  1.0  58.25  115.5  172.75  230.0
New\nDeaths    3.0   18.0  21.000000  3.0   6.00    9.0   25.50   42.0

In [10]:
list(Data.columns)

['#',
 'Country,\nOther',
 'Total\nCases',
 'Total\nDeaths',
 'New\nDeaths',
 'Total\nRecovered',
 'Active\nCases',
 'Serious,\nCritical',
 'Tot Cases/\n1M pop',
 'Deaths/\n1M pop',
 'Total\nTests',
 'Tests/\n1M pop',
 'Population']

In [11]:
Analyse_data = Data.copy()

In [12]:
Analyse_data

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
5,6,S. Korea,"24,769,101","28,406",42.0,"24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
6,7,UK,"23,621,952","189,919",NaN,"23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
7,8,Italy,"22,432,803","177,054",NaN,"21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
8,9,Japan,"21,229,216","44,678",NaN,"20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
9,10,Russia,"20,948,470","387,163",NaN,"19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"
10,11,Turkey,"16,873,793","101,139",NaN,"16,754,301","18,353",975,"197,211","1,182","162,743,369","1,902,052","85,561,976"
11,12,Spain,"13,412,263","114,084",NaN,"13,218,892","79,287",339,"287,083","2,442","471,036,328","10,082,298","46,719,142"
12,13,Vietnam,"11,477,886","43,148",NaN,"10,590,917","843,821",106,"115,993",436,"85,826,548","867,342","98,953,541"
13,14,Australia,"10,209,239","14,984",NaN,"10,133,494","60,761",49,"391,627",575,"78,835,048","3,024,116","26,068,792"
14,15,Argentina,"9,708,420","129,897",NaN,"9,563,348","15,175",294,"211,006","2,823","35,716,069","776,264","46,010,234"
15,16,Netherlands,"8,422,336","22,643",NaN,"8,362,464","37,229",35,"489,345","1,316","21,107,399","1,226,358","17,211,447"
16,17,Iran,"7,548,320","144,421",NaN,"7,325,370","78,529",157,"87,748","1,679","54,095,556","628,851","86,022,837"
17,18,Mexico,"7,084,488","330,065",NaN,"6,353,953","400,470","4,798","53,849","2,509","18,393,211","139,806","131,562,772"
18,19,Indonesia,"6,429,767","158,093",NaN,"6,253,317","18,357","2,771","23,035",566,"108,656,989","389,264","279,134,505"
19,20,Taiwan,"6,417,941","11,003",NaN,"5,603,195","803,743",NaN,"268,661",461,"25,998,416","1,088,319","23,888,595"
20,21,Colombia,"6,307,372","141,794",NaN,"6,134,690","30,888",342,"122,443","2,753","36,572,720","709,974","51,512,762"
21,22,Poland,"6,289,672","117,539",NaN,"5,335,940","836,193","3,086","166,659","3,114","37,335,609","989,290","37,739,785"
22,23,Portugal,"5,490,639","25,024",NaN,"5,394,788","70,827",61,"541,453","2,468","44,988,307","4,436,467","10,140,570"
23,24,Ukraine,"5,177,217","109,206",NaN,"4,973,554","94,457",177,"119,865","2,528","19,521,252","451,963","43,192,122"
24,25,Austria,"5,118,512","20,738",NaN,"5,006,572","91,202",47,"564,539","2,287","197,543,761","21,787,811","9,066,710"
25,26,Greece,"4,920,192","33,111",NaN,"4,836,903","50,178",115,"476,918","3,209","94,139,966","9,125,063","10,316,637"
26,27,Malaysia,"4,838,872","36,369",NaN,"4,777,329","25,174",43,"145,832","1,096","64,604,259","1,947,021","33,181,072"
27,28,DPRK,"4,772,813",74,NaN,"4,772,739",0,NaN,"183,636",3,NaN,NaN,"25,990,679"
28,29,Thailand,"4,681,309","32,767",9.0,"4,642,083","6,459","1,496","66,801",468,"17,270,775","246,450","70,078,203"
29,30,Israel,"4,661,096","11,698",NaN,"4,641,394","8,004",101,"499,796","1,254","41,373,364","4,436,346","9,326,000"
30,31,Chile,"4,620,377","61,141",NaN,"4,540,886","18,350",124,"240,017","3,176","45,128,974","2,344,339","19,250,195"
31,32,Belgium,"4,533,249","32,659",NaN,"4,451,569","49,021",48,"388,511","2,799","35,555,508","3,047,194","11,668,278"
32,33,Canada,"4,233,468","44,992",NaN,"4,131,367","57,109",99,"110,280","1,172","64,928,884","1,691,366","38,388,419"
33,34,Peru,"4,143,085","216,539",NaN,"3,914,598","11,948",147,"122,998","6,429","35,126,382","1,042,815","33,684,208"
34,35,Czechia,"4,100,480","41,059",NaN,"4,035,333","24,088",39,"381,910","3,824","56,212,735","5,235,528","10,736,784"
35,36,Switzerland,"4,084,307","14,183",NaN,"4,012,833","57,291",54,"465,520","1,617","22,318,542","2,543,819","8,773,637"
36,37,South Africa,"4,018,769","102,185",NaN,"3,909,265","7,319",192,"66,146","1,682","26,174,429","430,811","60,756,135"
37,38,Philippines,"3,945,566","62,916",NaN,"3,854,478","28,172",696,"35,069",559,"32,796,350","291,500","112,508,994"
38,39,Romania,"3,267,370","67,016",NaN,"3,180,124","20,230",123,"171,684","3,521","25,094,131","1,318,569","19,031,335"
39,40,Denmark,"3,110,831","7,065",NaN,"3,093,396","10,370",NaN,"533,138","1,211","128,397,719","22,004,939","5,834,950"
40,41,Sweden,"2,588,441","20,194",NaN,"2,548,125","20,122",13,"253,298","1,976","18,965,590","1,855,920","10,218,971"
41,42,Iraq,"2,459,982","25,355",NaN,"2,433,704",923,21,"58,342",601,"19,239,264","456,286","42,164,965"
42,43,Serbia,"2,359,530","17,000",NaN,"2,298,536","43,994",33,"272,683","1,965","11,030,499","1,274,758","8,653,016"
43,44,Hungary,"2,094,142","47,503",NaN,"2,014,175","32,464",18,"217,998","4,945","11,394,556","1,186,160","9,606,259"
44,45,Bangladesh,"2,024,489","29,362",NaN,"1,964,501","30,626","1,331","12,059",175,"14,872,260","88,586","167,885,689"
45,46,Singapore,"1,904,192","1,617",NaN,"1,821,160","81,415",9,"320,380",272,"24,345,019","4,096,043","5,943,546"
46,47,Slovakia,"1,843,220","20,455",NaN,"1,817,938","4,827",22,"337,574","3,746","7,298,163","1,336,613","5,460,193"
47,48,Georgia,"1,780,691","16,900",NaN,"1,637,293","126,498",NaN,"448,679","4,258","16,920,079","4,263,340","3,968,738"
48,49,New Zealand,"1,779,476","2,959",NaN,"1,767,660","8,857",NaN,"363,292",604,"7,544,063","1,540,170","4,898,203"
49,50,Hong Kong,"1,761,381","10,153",NaN,"1,469,240","281,988",8,"231,630","1,335","54,352,132","7,147,553","7,604,299"
50,51,Jordan,"1,746,997","14,122",NaN,"1,731,007","1,868",59,"169,597","1,371","17,201,885","1,669,945","10,300,869"
51,52,Ireland,"1,663,653","7,905",NaN,"1,648,405","7,343",13,"331,392","1,575","12,708,583","2,531,490","5,020,199"
52,53,Pakistan,"1,572,598","30,616",3.0,"1,536,924","5,058",47,"6,853",133,"30,477,451","132,806","229,488,994"
53,54,Norway,"1,462,318","4,098",NaN,"1,457,108","1,112",20,"265,327",744,"11,002,430","1,996,315","5,511,370"
54,55,Kazakhstan,"1,393,468","13,690",NaN,"1,378,440","1,338",24,"72,557",713,"11,575,012","602,707","19,205,043"
55,56,Finland,"1,292,940","5,981",NaN,"1,263,711","23,248",21,"232,754","1,077","11,505,032","2,071,128","5,554,960"
56,57,Morocco,"1,264,935","16,278",NaN,"1,248,543",114,293,"33,488",431,"12,577,650","332,982","37,772,756"
57,58,Bulgaria,"1,258,670","37,714",NaN,"1,211,397","9,559",43,"183,892","5,510","10,559,171","1,542,702","6,844,597"
58,59,Lithuania,"1,249,134","9,320",NaN,"1,216,151","23,663",12,"469,298","3,502","10,174,473","3,822,535","2,661,708"
59,60,Croatia,"1,231,575","16,902",NaN,"1,209,524","5,149",10,"303,397","4,164","5,225,875","1,287,388","4,059,286"
60,61,Lebanon,"1,215,511","10,674",NaN,"1,087,587","117,250",74,"181,831","1,597","4,795,578","717,380","6,684,849"
61,62,Slovenia,"1,181,073","6,820",NaN,"1,145,051","29,202",22,"568,361","3,282","2,743,244","1,320,115","2,078,034"
62,63,Tunisia,"1,145,686","29,249",NaN,NaN,NaN,99,"95,104","2,428","4,948,208","410,754","12,046,656"
63,64,Guatemala,"1,123,465","19,789",NaN,"1,102,988",688,5,"60,453","1,065","5,884,813","316,660","18,584,039"
64,65,Cuba,"1,111,179","8,530",NaN,"1,102,548",101,23,"98,285",754,"14,149,157","1,251,512","11,305,652"
65,66,Bolivia,"1,108,195","22,234",NaN,"1,051,789","34,172",220,"92,406","1,854","2,705,422","225,590","11,992,656"
66,67,Costa Rica,"1,072,807","8,913",NaN,"860,711","203,183",52,"207,012","1,720","4,659,757","899,158","5,182,354"
67,68,UAE,"1,027,031","2,345",NaN,"1,006,369","18,317",NaN,"101,870",233,"190,586,733","18,904,066","10,081,785"
68,69,Ecuador,"1,003,778","35,894",NaN,"964,320","3,564",759,"55,416","1,982","3,082,403","170,173","18,113,361"
69,70,Nepal,"999,712","12,018",NaN,"986,617","1,077",NaN,"33,075",398,"5,936,702","196,413","30,225,582"
70,71,Belarus,"994,037","7,118",NaN,"985,592","1,327",NaN,"105,381",755,"13,646,641","1,446,722","9,432,800"
71,72,Panama,"986,866","8,497",NaN,"976,873","1,496",16,"221,919","1,911","7,062,027","1,588,056","4,446,964"
72,73,Uruguay,"985,422","7,485",NaN,"976,760","1,177",18,"281,870","2,141","6,114,822","1,749,083","3,496,016"
73,74,Mongolia,"982,864","2,179",NaN,"979,439","1,246",192,"290,954",645,"4,030,048","1,193,000","3,378,078"
74,75,Latvia,"929,051","5,990",NaN,"891,237","31,824",5,"502,506","3,240","7,650,009","4,137,741","1,848,837"
75,76,Azerbaijan,"821,162","9,910",NaN,"810,181","1,071",NaN,"79,723",962,"7,245,111","703,395","10,300,205"
76,77,Saudi Arabia,"816,389","9,351",NaN,"803,546","3,492",32,"22,776",261,"44,321,147","1,236,470","35,844,909"
77,78,Paraguay,"716,059","19,583",NaN,"696,110",366,7,"98,012","2,680","2,657,506","363,751","7,305,843"
78,79,Bahrain,"680,271","1,520",NaN,"675,724","3,027",2,"381,321",852,"10,376,306","5,816,370","1,783,983"
79,80,Sri Lanka,"670,763","16,761",NaN,"653,779",223,NaN,"31,089",777,"6,486,117","300,619","21,575,842"
80,81,Kuwait,"658,520","2,563",NaN,"655,316",641,3,"150,336",585,"8,365,279","1,909,739","4,380,326"
81,82,Dominican Republic,"644,016","4,384",NaN,"638,911",721,4,"58,248",397,"3,657,057","330,765","11,056,370"
82,83,Myanmar,"622,802","19,458",NaN,"597,898","5,446",NaN,"11,277",352,"9,056,450","163,985","55,227,143"
83,84,Palestine,"620,548","5,403",NaN,"608,749","6,396",17,"116,087","1,011","3,078,533","575,907","5,345,541"
84,85,Estonia,"601,869","2,681",NaN,"524,990","74,198",4,"455,303","2,028","3,536,858","2,675,566","1,321,910"
85,86,Moldova,"589,388","11,844",NaN,"504,142","73,402",49,"146,863","2,951","3,216,305","801,437","4,013,171"
86,87,Cyprus,"585,313","1,180",NaN,"578,452","5,681",60,"478,437",965,"9,640,118","7,879,860","1,223,387"
87,88,Venezuela,"544,687","5,814",NaN,"538,033",840,36,"18,611",199,"3,359,014","114,771","29,266,991"
88,89,Egypt,"515,645","24,613",NaN,"442,182","48,850",122,"4,857",232,"3,693,367","34,792","106,156,692"
89,90,Libya,"506,991","6,437",NaN,"500,507",47,101,"72,008",914,"2,481,983","352,517","7,040,745"
90,91,Ethiopia,"493,563","7,572",NaN,"471,918","14,073",1,"4,085",63,"5,258,807","43,529","120,812,698"
91,92,RÃ©union,"472,336",893,NaN,"418,572","52,871",10,"520,159",983,"1,603,660","1,766,027","908,061"
92,93,Honduras,"456,391","10,993",NaN,NaN,NaN,105,"44,651","1,076","1,528,531","149,544","10,221,247"
93,94,Qatar,"450,448",682,NaN,"443,418","6,348",4,"151,161",229,"3,951,470","1,326,034","2,979,915"
94,95,Armenia,"442,875","8,683",NaN,"430,192","4,000",NaN,"149,018","2,922","3,210,961","1,080,416","2,971,966"
95,96,Bosnia and Herzegovina,"398,668","16,136",NaN,"376,654","5,878",NaN,"122,693","4,966","1,861,041","572,748","3,249,317"
96,97,Oman,"397,993","4,260",NaN,"384,669","9,064",2,"74,755",800,"25,000,000","4,695,724","5,323,993"
97,98,North Macedonia,"342,775","9,534",NaN,"332,806",435,NaN,"164,692","4,581","2,130,257","1,023,520","2,081,304"
98,99,Kenya,"338,420","5,678",NaN,"332,663",79,1,"6,020",101,"3,881,967","69,055","56,215,221"
99,100,Zambia,"333,531","4,017",NaN,"329,375",139,NaN,"17,130",206,"3,731,374","191,645","19,470,234"
100,101,Albania,"332,173","3,588",NaN,"326,729","1,856",NaN,"115,886","1,252","1,941,032","677,173","2,866,374"
101,102,Botswana,"326,308","2,789",NaN,"322,955",564,1,"133,669","1,142","2,026,898","830,300","2,441,162"
102,103,Luxembourg,"288,658","1,123",NaN,"283,668","3,867",NaN,"449,363","1,748","4,402,293","6,853,194","642,371"
103,104,Montenegro,"280,002","2,781",NaN,"276,154","1,067",6,"445,899","4,429","2,624,193","4,178,984","627,950"
104,105,Algeria,"270,668","6,879",NaN,"182,306","81,483",6,"5,968",152,"230,861","5,091","45,350,148"
105,106,Nigeria,"265,382","3,155",NaN,"258,381","3,846",11,"1,224",15,"5,441,162","25,104","216,746,934"
106,107,Zimbabwe,"257,409","5,602",NaN,"251,281",526,12,"16,790",365,"2,511,501","163,814","15,331,428"
107,108,China,"250,449","5,226",NaN,"242,254","2,969",36,173,4,"160,000,000","110,461","1,448,471,400"
108,109,Uzbekistan,"244,199","1,637",NaN,"241,486","1,076",23,"7,103",48,"1,377,915","40,077","34,382,084"
109,110,Mozambique,"230,219","2,221",NaN,"227,882",116,11,"6,957",67,"1,371,127","41,437","33,089,461"
110,111,Brunei,"226,237",225,NaN,"222,140","3,872",3,"507,906",505,"717,784","1,611,437","445,431"
111,112,Martinique,"221,618","1,044",NaN,NaN,NaN,8,"592,424","2,791","828,928","2,215,870","374,087"
112,113,Laos,"215,843",758,NaN,NaN,NaN,NaN,"28,852",101,"1,233,207","164,845","7,481,023"
113,114,Kyrgyzstan,"206,083","2,991",NaN,"196,406","6,686",131,"30,629",445,"1,907,195","283,460","6,728,271"
114,115,Iceland,"205,637",213,NaN,NaN,NaN,2,"595,371",617,"1,996,384","5,780,036","345,393"
115,116,El Salvador,"201,785","4,229",NaN,"179,410","18,146",8,"30,805",646,"2,610,114","398,467","6,550,389"
116,117,Afghanistan,"199,067","7,799",NaN,"177,850","13,418","1,124","4,885",191,"1,103,716","27,082","40,754,388"
117,118,Guadeloupe,"192,801",989,NaN,NaN,NaN,19,"482,251","2,474","938,039","2,346,306","399,794"
118,119,Maldives,"185,042",308,NaN,"163,687","21,047",25,"342,046",569,"2,213,831","4,092,223","540,985"
119,120,Trinidad and Tobago,"182,597","4,195",NaN,"174,214","4,188",18,"129,816","2,982","834,508","593,287","1,406,585"
120,121,Uganda,"169,396","3,628",NaN,"100,431","65,337",3,"3,498",75,"3,012,408","62,198","48,432,863"
121,122,Namibia,"169,253","4,065",NaN,"164,813",375,NaN,"64,260","1,543","1,062,663","403,460","2,633,874"
122,123,Ghana,"169,100","1,459",NaN,"167,307",334,2,"5,220",45,"2,504,017","77,295","32,395,450"
123,124,Jamaica,"151,829","3,317",NaN,"99,239","49,273",NaN,"50,862","1,111","1,183,986","396,633","2,985,094"
124,125,Cambodia,"137,870","3,056",NaN,"134,745",69,NaN,"8,030",178,"3,069,567","178,789","17,168,639"
125,126,Rwanda,"132,498","1,466",NaN,"130,955",77,NaN,"9,742",108,"5,816,624","427,678","13,600,464"
126,127,Cameroon,"121,652","1,935",NaN,"118,616","1,101",13,"4,358",69,"1,751,774","62,762","27,911,548"
127,128,Malta,"114,652",806,NaN,"113,195",651,4,"258,206","1,815","2,060,900","4,641,322","444,033"
128,129,Angola,"103,131","1,917",NaN,"101,155",59,NaN,"2,944",55,"1,499,795","42,818","35,027,343"
129,130,Barbados,"102,546",559,NaN,"101,760",227,NaN,"356,034","1,941","765,378","2,657,350","288,023"
130,131,French Guiana,"93,974",410,NaN,"11,254","82,310",3,"299,119","1,305","651,257","2,072,951","314,169"
131,132,DRC,"92,852","1,442",NaN,"83,504","7,906",NaN,975,15,"846,704","8,890","95,240,792"
132,133,Channel Islands,"91,561",202,NaN,"90,639",720,NaN,"518,868","1,145","1,252,808","7,099,551","176,463"
133,134,Senegal,"88,373","1,968",NaN,"86,297",108,NaN,"5,006",111,"1,146,543","64,946","17,653,671"
134,135,Malawi,"88,024","2,682",NaN,"84,872",470,67,"4,362",133,"616,772","30,562","20,180,839"
135,136,Ivory Coast,"87,208",826,NaN,"86,338",44,NaN,"3,144",30,"1,628,106","58,687","27,742,298"
136,137,Suriname,"81,106","1,385",NaN,NaN,NaN,NaN,"135,894","2,321","239,178","400,747","596,831"
137,138,French Polynesia,"76,599",649,NaN,NaN,NaN,7,"269,559","2,284",NaN,NaN,"284,164"
138,139,New Caledonia,"74,152",314,NaN,"73,823",15,9,"254,892","1,079","98,964","340,182","290,915"
139,140,Eswatini,"73,390","1,422",NaN,"71,955",13,11,"61,942","1,200","1,045,903","882,755","1,184,817"
140,141,Guyana,"71,336","1,281",NaN,"69,977",78,NaN,"89,839","1,613","695,695","876,141","794,045"
141,142,Belize,"68,826",683,NaN,"68,079",64,6,"166,976","1,657","576,016","1,397,453","412,190"
142,143,Fiji,"68,242",878,NaN,"66,302","1,062",NaN,"75,035",965,"662,620","728,581","909,466"
143,144,Madagascar,"66,676","1,410",NaN,"65,242",24,NaN,"2,285",48,"512,993","17,581","29,178,077"
144,145,Sudan,"63,285","4,961",NaN,"57,290","1,034",NaN,"1,376",108,"562,941","12,240","45,992,020"
145,146,Mauritania,"62,812",995,NaN,"61,789",28,NaN,"12,814",203,"970,892","198,061","4,901,981"
146,147,Cabo Verde,"62,371",410,NaN,"61,890",71,23,"109,870",722,"401,622","707,482","567,678"
147,148,Bhutan,"61,730",21,NaN,"61,564",145,NaN,"78,343",27,"2,303,734","2,923,739","787,941"
148,149,Syria,"57,299","3,163",NaN,"54,078",58,NaN,"2,959",163,"146,269","7,553","19,364,809"
149,150,Burundi,"50,129",38,NaN,"49,559",532,NaN,"3,971",3,"345,742","27,386","12,624,840"
150,151,Gabon,"48,691",306,NaN,"48,292",93,NaN,"20,884",131,"1,616,256","693,216","2,331,533"
151,152,Seychelles,"47,141",169,NaN,"46,446",526,NaN,"474,132","1,700",NaN,NaN,"99,426"
152,153,Andorra,"46,227",155,NaN,"46,011",61,14,"596,762","2,001","249,838","3,225,256","77,463"
153,154,CuraÃ§ao,"45,127",282,NaN,"44,720",125,3,"272,623","1,704","496,693","3,000,640","165,529"
154,155,Papua New Guinea,"44,997",668,NaN,"43,982",347,7,"4,842",72,"249,149","26,813","9,292,169"
155,156,Aruba,"42,914",227,NaN,"42,438",249,2,"398,796","2,109","177,885","1,653,068","107,609"
156,157,Mauritius,"40,461","1,024",NaN,"38,786",651,NaN,"31,741",803,"358,675","281,374","1,274,727"
157,158,Mayotte,"40,243",187,NaN,NaN,NaN,NaN,"140,582",653,"176,919","618,038","286,259"
158,159,Tanzania,"39,440",845,NaN,NaN,NaN,7,623,13,NaN,NaN,"63,298,550"
159,160,Togo,"39,034",285,NaN,"38,528",221,NaN,"4,497",33,"791,865","91,220","8,680,837"
160,161,Isle of Man,"38,008",116,NaN,NaN,NaN,NaN,"443,335","1,353","150,753","1,758,422","85,732"
161,162,Guinea,"37,652",449,NaN,"36,880",323,8,"2,715",32,"660,107","47,607","13,865,691"
162,163,Bahamas,"37,267",833,NaN,"36,070",364,2,"93,047","2,080","248,846","621,314","400,516"
163,164,Faeroe Islands,"34,658",28,NaN,NaN,NaN,5,"703,959",569,"778,000","15,802,409","49,233"
164,165,Lesotho,"34,490",706,NaN,"25,980","7,804",NaN,"15,852",324,"431,221","198,199","2,175,699"
165,166,Haiti,"33,733",857,NaN,"31,307","1,569",NaN,"2,888",73,"132,422","11,337","11,680,283"
166,167,Mali,"32,625",742,NaN,"31,591",292,NaN,"1,519",35,"759,178","35,354","21,473,764"
167,168,Cayman Islands,"30,661",32,NaN,"8,553","22,076",1,"455,743",476,"222,773","3,311,280","67,277"
168,169,Saint Lucia,"29,408",391,NaN,"28,475",542,NaN,"158,865","2,112","210,354","1,136,355","185,113"
169,170,Benin,"27,638",163,NaN,"27,322",153,5,"2,162",13,"604,310","47,268","12,784,726"
170,171,Somalia,"27,214","1,352",NaN,"13,182","12,680",NaN,"1,616",80,"400,466","23,778","16,841,795"
171,172,Congo,"24,837",386,NaN,"24,006",445,NaN,"4,284",67,"347,815","59,991","5,797,805"
172,173,Timor-Leste,"23,253",138,NaN,"23,102",13,NaN,"16,980",101,"278,529","203,391","1,369,429"
173,174,Burkina Faso,"21,631",387,NaN,"21,143",101,NaN,979,18,"248,995","11,265","22,102,838"
174,175,Solomon Islands,"21,544",153,NaN,"16,357","5,034",1,"29,874",212,"5,117","7,096","721,159"
175,176,San Marino,"20,763",118,NaN,"20,524",121,4,"609,154","3,462","157,634","4,624,732","34,085"
176,177,Gibraltar,"20,092",108,NaN,"16,579","3,405",NaN,"596,131","3,204","534,283","15,852,213","33,704"
177,178,Liechtenstein,"19,713",86,NaN,"19,403",224,2,"513,533","2,240","102,174","2,661,682","38,387"
178,179,Grenada,"19,536",237,NaN,"19,248",51,4,"172,161","2,089","179,808","1,584,560","113,475"
179,180,Nicaragua,"18,491",225,NaN,"4,225","14,041",NaN,"2,728",33,NaN,NaN,"6,779,100"
180,181,Bermuda,"18,154",148,NaN,"17,969",37,NaN,"293,095","2,389","1,006,083","16,243,126","61,939"
181,182,South Sudan,"17,823",138,NaN,"17,335",350,1,"1,534",12,"410,280","35,313","11,618,511"
182,183,Tajikistan,"17,786",125,NaN,"17,264",397,NaN,"1,786",13,NaN,NaN,"9,957,464"
183,184,Equatorial Guinea,"17,012",183,NaN,"16,690",139,5,"11,367",122,"365,697","244,342","1,496,662"

In [13]:
Analyse_data.isnull().sum()

#                       0
Country,\nOther         0
Total\nCases            0
Total\nDeaths           5
New\nDeaths           227
Total\nRecovered       16
Active\nCases          15
Serious,\nCritical     83
Tot Cases/\n1M pop      2
Deaths/\n1M pop         7
Total\nTests           16
Tests/\n1M pop         16
Population              2
dtype: int64

In [14]:
Analyse_data.drop(["New\nDeaths"],axis =1)

,#,"Country,\nOther",Total\nCases,Total\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282","94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629","44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078","34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027","33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948","32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"
5,6,S. Korea,"24,769,101","28,406","24,013,461","727,234",352,"482,547",553,"15,804,065","307,892","51,329,899"
6,7,UK,"23,621,952","189,919","23,347,871","84,162",146,"344,857","2,773","522,526,476","7,628,357","68,497,907"
7,8,Italy,"22,432,803","177,054","21,779,604","476,145",141,"372,250","2,938","246,636,495","4,092,684","60,262,770"
8,9,Japan,"21,229,216","44,678","20,380,089","804,449",204,"169,043",356,"76,201,407","606,772","125,584,838"
9,10,Russia,"20,948,470","387,163","19,979,763","581,544","2,300","143,674","2,655","273,400,000","1,875,095","145,805,947"
10,11,Turkey,"16,873,793","101,139","16,754,301","18,353",975,"197,211","1,182","162,743,369","1,902,052","85,561,976"
11,12,Spain,"13,412,263","114,084","13,218,892","79,287",339,"287,083","2,442","471,036,328","10,082,298","46,719,142"
12,13,Vietnam,"11,477,886","43,148","10,590,917","843,821",106,"115,993",436,"85,826,548","867,342","98,953,541"
13,14,Australia,"10,209,239","14,984","10,133,494","60,761",49,"391,627",575,"78,835,048","3,024,116","26,068,792"
14,15,Argentina,"9,708,420","129,897","9,563,348","15,175",294,"211,006","2,823","35,716,069","776,264","46,010,234"
15,16,Netherlands,"8,422,336","22,643","8,362,464","37,229",35,"489,345","1,316","21,107,399","1,226,358","17,211,447"
16,17,Iran,"7,548,320","144,421","7,325,370","78,529",157,"87,748","1,679","54,095,556","628,851","86,022,837"
17,18,Mexico,"7,084,488","330,065","6,353,953","400,470","4,798","53,849","2,509","18,393,211","139,806","131,562,772"
18,19,Indonesia,"6,429,767","158,093","6,253,317","18,357","2,771","23,035",566,"108,656,989","389,264","279,134,505"
19,20,Taiwan,"6,417,941","11,003","5,603,195","803,743",NaN,"268,661",461,"25,998,416","1,088,319","23,888,595"
20,21,Colombia,"6,307,372","141,794","6,134,690","30,888",342,"122,443","2,753","36,572,720","709,974","51,512,762"
21,22,Poland,"6,289,672","117,539","5,335,940","836,193","3,086","166,659","3,114","37,335,609","989,290","37,739,785"
22,23,Portugal,"5,490,639","25,024","5,394,788","70,827",61,"541,453","2,468","44,988,307","4,436,467","10,140,570"
23,24,Ukraine,"5,177,217","109,206","4,973,554","94,457",177,"119,865","2,528","19,521,252","451,963","43,192,122"
24,25,Austria,"5,118,512","20,738","5,006,572","91,202",47,"564,539","2,287","197,543,761","21,787,811","9,066,710"
25,26,Greece,"4,920,192","33,111","4,836,903","50,178",115,"476,918","3,209","94,139,966","9,125,063","10,316,637"
26,27,Malaysia,"4,838,872","36,369","4,777,329","25,174",43,"145,832","1,096","64,604,259","1,947,021","33,181,072"
27,28,DPRK,"4,772,813",74,"4,772,739",0,NaN,"183,636",3,NaN,NaN,"25,990,679"
28,29,Thailand,"4,681,309","32,767","4,642,083","6,459","1,496","66,801",468,"17,270,775","246,450","70,078,203"
29,30,Israel,"4,661,096","11,698","4,641,394","8,004",101,"499,796","1,254","41,373,364","4,436,346","9,326,000"
30,31,Chile,"4,620,377","61,141","4,540,886","18,350",124,"240,017","3,176","45,128,974","2,344,339","19,250,195"
31,32,Belgium,"4,533,249","32,659","4,451,569","49,021",48,"388,511","2,799","35,555,508","3,047,194","11,668,278"
32,33,Canada,"4,233,468","44,992","4,131,367","57,109",99,"110,280","1,172","64,928,884","1,691,366","38,388,419"
33,34,Peru,"4,143,085","216,539","3,914,598","11,948",147,"122,998","6,429","35,126,382","1,042,815","33,684,208"
34,35,Czechia,"4,100,480","41,059","4,035,333","24,088",39,"381,910","3,824","56,212,735","5,235,528","10,736,784"
35,36,Switzerland,"4,084,307","14,183","4,012,833","57,291",54,"465,520","1,617","22,318,542","2,543,819","8,773,637"
36,37,South Africa,"4,018,769","102,185","3,909,265","7,319",192,"66,146","1,682","26,174,429","430,811","60,756,135"
37,38,Philippines,"3,945,566","62,916","3,854,478","28,172",696,"35,069",559,"32,796,350","291,500","112,508,994"
38,39,Romania,"3,267,370","67,016","3,180,124","20,230",123,"171,684","3,521","25,094,131","1,318,569","19,031,335"
39,40,Denmark,"3,110,831","7,065","3,093,396","10,370",NaN,"533,138","1,211","128,397,719","22,004,939","5,834,950"
40,41,Sweden,"2,588,441","20,194","2,548,125","20,122",13,"253,298","1,976","18,965,590","1,855,920","10,218,971"
41,42,Iraq,"2,459,982","25,355","2,433,704",923,21,"58,342",601,"19,239,264","456,286","42,164,965"
42,43,Serbia,"2,359,530","17,000","2,298,536","43,994",33,"272,683","1,965","11,030,499","1,274,758","8,653,016"
43,44,Hungary,"2,094,142","47,503","2,014,175","32,464",18,"217,998","4,945","11,394,556","1,186,160","9,606,259"
44,45,Bangladesh,"2,024,489","29,362","1,964,501","30,626","1,331","12,059",175,"14,872,260","88,586","167,885,689"
45,46,Singapore,"1,904,192","1,617","1,821,160","81,415",9,"320,380",272,"24,345,019","4,096,043","5,943,546"
46,47,Slovakia,"1,843,220","20,455","1,817,938","4,827",22,"337,574","3,746","7,298,163","1,336,613","5,460,193"
47,48,Georgia,"1,780,691","16,900","1,637,293","126,498",NaN,"448,679","4,258","16,920,079","4,263,340","3,968,738"
48,49,New Zealand,"1,779,476","2,959","1,767,660","8,857",NaN,"363,292",604,"7,544,063","1,540,170","4,898,203"
49,50,Hong Kong,"1,761,381","10,153","1,469,240","281,988",8,"231,630","1,335","54,352,132","7,147,553","7,604,299"
50,51,Jordan,"1,746,997","14,122","1,731,007","1,868",59,"169,597","1,371","17,201,885","1,669,945","10,300,869"
51,52,Ireland,"1,663,653","7,905","1,648,405","7,343",13,"331,392","1,575","12,708,583","2,531,490","5,020,199"
52,53,Pakistan,"1,572,598","30,616","1,536,924","5,058",47,"6,853",133,"30,477,451","132,806","229,488,994"
53,54,Norway,"1,462,318","4,098","1,457,108","1,112",20,"265,327",744,"11,002,430","1,996,315","5,511,370"
54,55,Kazakhstan,"1,393,468","13,690","1,378,440","1,338",24,"72,557",713,"11,575,012","602,707","19,205,043"
55,56,Finland,"1,292,940","5,981","1,263,711","23,248",21,"232,754","1,077","11,505,032","2,071,128","5,554,960"
56,57,Morocco,"1,264,935","16,278","1,248,543",114,293,"33,488",431,"12,577,650","332,982","37,772,756"
57,58,Bulgaria,"1,258,670","37,714","1,211,397","9,559",43,"183,892","5,510","10,559,171","1,542,702","6,844,597"
58,59,Lithuania,"1,249,134","9,320","1,216,151","23,663",12,"469,298","3,502","10,174,473","3,822,535","2,661,708"
59,60,Croatia,"1,231,575","16,902","1,209,524","5,149",10,"303,397","4,164","5,225,875","1,287,388","4,059,286"
60,61,Lebanon,"1,215,511","10,674","1,087,587","117,250",74,"181,831","1,597","4,795,578","717,380","6,684,849"
61,62,Slovenia,"1,181,073","6,820","1,145,051","29,202",22,"568,361","3,282","2,743,244","1,320,115","2,078,034"
62,63,Tunisia,"1,145,686","29,249",NaN,NaN,99,"95,104","2,428","4,948,208","410,754","12,046,656"
63,64,Guatemala,"1,123,465","19,789","1,102,988",688,5,"60,453","1,065","5,884,813","316,660","18,584,039"
64,65,Cuba,"1,111,179","8,530","1,102,548",101,23,"98,285",754,"14,149,157","1,251,512","11,305,652"
65,66,Bolivia,"1,108,195","22,234","1,051,789","34,172",220,"92,406","1,854","2,705,422","225,590","11,992,656"
66,67,Costa Rica,"1,072,807","8,913","860,711","203,183",52,"207,012","1,720","4,659,757","899,158","5,182,354"
67,68,UAE,"1,027,031","2,345","1,006,369","18,317",NaN,"101,870",233,"190,586,733","18,904,066","10,081,785"
68,69,Ecuador,"1,003,778","35,894","964,320","3,564",759,"55,416","1,982","3,082,403","170,173","18,113,361"
69,70,Nepal,"999,712","12,018","986,617","1,077",NaN,"33,075",398,"5,936,702","196,413","30,225,582"
70,71,Belarus,"994,037","7,118","985,592","1,327",NaN,"105,381",755,"13,646,641","1,446,722","9,432,800"
71,72,Panama,"986,866","8,497","976,873","1,496",16,"221,919","1,911","7,062,027","1,588,056","4,446,964"
72,73,Uruguay,"985,422","7,485","976,760","1,177",18,"281,870","2,141","6,114,822","1,749,083","3,496,016"
73,74,Mongolia,"982,864","2,179","979,439","1,246",192,"290,954",645,"4,030,048","1,193,000","3,378,078"
74,75,Latvia,"929,051","5,990","891,237","31,824",5,"502,506","3,240","7,650,009","4,137,741","1,848,837"
75,76,Azerbaijan,"821,162","9,910","810,181","1,071",NaN,"79,723",962,"7,245,111","703,395","10,300,205"
76,77,Saudi Arabia,"816,389","9,351","803,546","3,492",32,"22,776",261,"44,321,147","1,236,470","35,844,909"
77,78,Paraguay,"716,059","19,583","696,110",366,7,"98,012","2,680","2,657,506","363,751","7,305,843"
78,79,Bahrain,"680,271","1,520","675,724","3,027",2,"381,321",852,"10,376,306","5,816,370","1,783,983"
79,80,Sri Lanka,"670,763","16,761","653,779",223,NaN,"31,089",777,"6,486,117","300,619","21,575,842"
80,81,Kuwait,"658,520","2,563","655,316",641,3,"150,336",585,"8,365,279","1,909,739","4,380,326"
81,82,Dominican Republic,"644,016","4,384","638,911",721,4,"58,248",397,"3,657,057","330,765","11,056,370"
82,83,Myanmar,"622,802","19,458","597,898","5,446",NaN,"11,277",352,"9,056,450","163,985","55,227,143"
83,84,Palestine,"620,548","5,403","608,749","6,396",17,"116,087","1,011","3,078,533","575,907","5,345,541"
84,85,Estonia,"601,869","2,681","524,990","74,198",4,"455,303","2,028","3,536,858","2,675,566","1,321,910"
85,86,Moldova,"589,388","11,844","504,142","73,402",49,"146,863","2,951","3,216,305","801,437","4,013,171"
86,87,Cyprus,"585,313","1,180","578,452","5,681",60,"478,437",965,"9,640,118","7,879,860","1,223,387"
87,88,Venezuela,"544,687","5,814","538,033",840,36,"18,611",199,"3,359,014","114,771","29,266,991"
88,89,Egypt,"515,645","24,613","442,182","48,850",122,"4,857",232,"3,693,367","34,792","106,156,692"
89,90,Libya,"506,991","6,437","500,507",47,101,"72,008",914,"2,481,983","352,517","7,040,745"
90,91,Ethiopia,"493,563","7,572","471,918","14,073",1,"4,085",63,"5,258,807","43,529","120,812,698"
91,92,RÃ©union,"472,336",893,"418,572","52,871",10,"520,159",983,"1,603,660","1,766,027","908,061"
92,93,Honduras,"456,391","10,993",NaN,NaN,105,"44,651","1,076","1,528,531","149,544","10,221,247"
93,94,Qatar,"450,448",682,"443,418","6,348",4,"151,161",229,"3,951,470","1,326,034","2,979,915"
94,95,Armenia,"442,875","8,683","430,192","4,000",NaN,"149,018","2,922","3,210,961","1,080,416","2,971,966"
95,96,Bosnia and Herzegovina,"398,668","16,136","376,654","5,878",NaN,"122,693","4,966","1,861,041","572,748","3,249,317"
96,97,Oman,"397,993","4,260","384,669","9,064",2,"74,755",800,"25,000,000","4,695,724","5,323,993"
97,98,North Macedonia,"342,775","9,534","332,806",435,NaN,"164,692","4,581","2,130,257","1,023,520","2,081,304"
98,99,Kenya,"338,420","5,678","332,663",79,1,"6,020",101,"3,881,967","69,055","56,215,221"
99,100,Zambia,"333,531","4,017","329,375",139,NaN,"17,130",206,"3,731,374","191,645","19,470,234"
100,101,Albania,"332,173","3,588","326,729","1,856",NaN,"115,886","1,252","1,941,032","677,173","2,866,374"
101,102,Botswana,"326,308","2,789","322,955",564,1,"133,669","1,142","2,026,898","830,300","2,441,162"
102,103,Luxembourg,"288,658","1,123","283,668","3,867",NaN,"449,363","1,748","4,402,293","6,853,194","642,371"
103,104,Montenegro,"280,002","2,781","276,154","1,067",6,"445,899","4,429","2,624,193","4,178,984","627,950"
104,105,Algeria,"270,668","6,879","182,306","81,483",6,"5,968",152,"230,861","5,091","45,350,148"
105,106,Nigeria,"265,382","3,155","258,381","3,846",11,"1,224",15,"5,441,162","25,104","216,746,934"
106,107,Zimbabwe,"257,409","5,602","251,281",526,12,"16,790",365,"2,511,501","163,814","15,331,428"
107,108,China,"250,449","5,226","242,254","2,969",36,173,4,"160,000,000","110,461","1,448,471,400"
108,109,Uzbekistan,"244,199","1,637","241,486","1,076",23,"7,103",48,"1,377,915","40,077","34,382,084"
109,110,Mozambique,"230,219","2,221","227,882",116,11,"6,957",67,"1,371,127","41,437","33,089,461"
110,111,Brunei,"226,237",225,"222,140","3,872",3,"507,906",505,"717,784","1,611,437","445,431"
111,112,Martinique,"221,618","1,044",NaN,NaN,8,"592,424","2,791","828,928","2,215,870","374,087"
112,113,Laos,"215,843",758,NaN,NaN,NaN,"28,852",101,"1,233,207","164,845","7,481,023"
113,114,Kyrgyzstan,"206,083","2,991","196,406","6,686",131,"30,629",445,"1,907,195","283,460","6,728,271"
114,115,Iceland,"205,637",213,NaN,NaN,2,"595,371",617,"1,996,384","5,780,036","345,393"
115,116,El Salvador,"201,785","4,229","179,410","18,146",8,"30,805",646,"2,610,114","398,467","6,550,389"
116,117,Afghanistan,"199,067","7,799","177,850","13,418","1,124","4,885",191,"1,103,716","27,082","40,754,388"
117,118,Guadeloupe,"192,801",989,NaN,NaN,19,"482,251","2,474","938,039","2,346,306","399,794"
118,119,Maldives,"185,042",308,"163,687","21,047",25,"342,046",569,"2,213,831","4,092,223","540,985"
119,120,Trinidad and Tobago,"182,597","4,195","174,214","4,188",18,"129,816","2,982","834,508","593,287","1,406,585"
120,121,Uganda,"169,396","3,628","100,431","65,337",3,"3,498",75,"3,012,408","62,198","48,432,863"
121,122,Namibia,"169,253","4,065","164,813",375,NaN,"64,260","1,543","1,062,663","403,460","2,633,874"
122,123,Ghana,"169,100","1,459","167,307",334,2,"5,220",45,"2,504,017","77,295","32,395,450"
123,124,Jamaica,"151,829","3,317","99,239","49,273",NaN,"50,862","1,111","1,183,986","396,633","2,985,094"
124,125,Cambodia,"137,870","3,056","134,745",69,NaN,"8,030",178,"3,069,567","178,789","17,168,639"
125,126,Rwanda,"132,498","1,466","130,955",77,NaN,"9,742",108,"5,816,624","427,678","13,600,464"
126,127,Cameroon,"121,652","1,935","118,616","1,101",13,"4,358",69,"1,751,774","62,762","27,911,548"
127,128,Malta,"114,652",806,"113,195",651,4,"258,206","1,815","2,060,900","4,641,322","444,033"
128,129,Angola,"103,131","1,917","101,155",59,NaN,"2,944",55,"1,499,795","42,818","35,027,343"
129,130,Barbados,"102,546",559,"101,760",227,NaN,"356,034","1,941","765,378","2,657,350","288,023"
130,131,French Guiana,"93,974",410,"11,254","82,310",3,"299,119","1,305","651,257","2,072,951","314,169"
131,132,DRC,"92,852","1,442","83,504","7,906",NaN,975,15,"846,704","8,890","95,240,792"
132,133,Channel Islands,"91,561",202,"90,639",720,NaN,"518,868","1,145","1,252,808","7,099,551","176,463"
133,134,Senegal,"88,373","1,968","86,297",108,NaN,"5,006",111,"1,146,543","64,946","17,653,671"
134,135,Malawi,"88,024","2,682","84,872",470,67,"4,362",133,"616,772","30,562","20,180,839"
135,136,Ivory Coast,"87,208",826,"86,338",44,NaN,"3,144",30,"1,628,106","58,687","27,742,298"
136,137,Suriname,"81,106","1,385",NaN,NaN,NaN,"135,894","2,321","239,178","400,747","596,831"
137,138,French Polynesia,"76,599",649,NaN,NaN,7,"269,559","2,284",NaN,NaN,"284,164"
138,139,New Caledonia,"74,152",314,"73,823",15,9,"254,892","1,079","98,964","340,182","290,915"
139,140,Eswatini,"73,390","1,422","71,955",13,11,"61,942","1,200","1,045,903","882,755","1,184,817"
140,141,Guyana,"71,336","1,281","69,977",78,NaN,"89,839","1,613","695,695","876,141","794,045"
141,142,Belize,"68,826",683,"68,079",64,6,"166,976","1,657","576,016","1,397,453","412,190"
142,143,Fiji,"68,242",878,"66,302","1,062",NaN,"75,035",965,"662,620","728,581","909,466"
143,144,Madagascar,"66,676","1,410","65,242",24,NaN,"2,285",48,"512,993","17,581","29,178,077"
144,145,Sudan,"63,285","4,961","57,290","1,034",NaN,"1,376",108,"562,941","12,240","45,992,020"
145,146,Mauritania,"62,812",995,"61,789",28,NaN,"12,814",203,"970,892","198,061","4,901,981"
146,147,Cabo Verde,"62,371",410,"61,890",71,23,"109,870",722,"401,622","707,482","567,678"
147,148,Bhutan,"61,730",21,"61,564",145,NaN,"78,343",27,"2,303,734","2,923,739","787,941"
148,149,Syria,"57,299","3,163","54,078",58,NaN,"2,959",163,"146,269","7,553","19,364,809"
149,150,Burundi,"50,129",38,"49,559",532,NaN,"3,971",3,"345,742","27,386","12,624,840"
150,151,Gabon,"48,691",306,"48,292",93,NaN,"20,884",131,"1,616,256","693,216","2,331,533"
151,152,Seychelles,"47,141",169,"46,446",526,NaN,"474,132","1,700",NaN,NaN,"99,426"
152,153,Andorra,"46,227",155,"46,011",61,14,"596,762","2,001","249,838","3,225,256","77,463"
153,154,CuraÃ§ao,"45,127",282,"44,720",125,3,"272,623","1,704","496,693","3,000,640","165,529"
154,155,Papua New Guinea,"44,997",668,"43,982",347,7,"4,842",72,"249,149","26,813","9,292,169"
155,156,Aruba,"42,914",227,"42,438",249,2,"398,796","2,109","177,885","1,653,068","107,609"
156,157,Mauritius,"40,461","1,024","38,786",651,NaN,"31,741",803,"358,675","281,374","1,274,727"
157,158,Mayotte,"40,243",187,NaN,NaN,NaN,"140,582",653,"176,919","618,038","286,259"
158,159,Tanzania,"39,440",845,NaN,NaN,7,623,13,NaN,NaN,"63,298,550"
159,160,Togo,"39,034",285,"38,528",221,NaN,"4,497",33,"791,865","91,220","8,680,837"
160,161,Isle of Man,"38,008",116,NaN,NaN,NaN,"443,335","1,353","150,753","1,758,422","85,732"
161,162,Guinea,"37,652",449,"36,880",323,8,"2,715",32,"660,107","47,607","13,865,691"
162,163,Bahamas,"37,267",833,"36,070",364,2,"93,047","2,080","248,846","621,314","400,516"
163,164,Faeroe Islands,"34,658",28,NaN,NaN,5,"703,959",569,"778,000","15,802,409","49,233"
164,165,Lesotho,"34,490",706,"25,980","7,804",NaN,"15,852",324,"431,221","198,199","2,175,699"
165,166,Haiti,"33,733",857,"31,307","1,569",NaN,"2,888",73,"132,422","11,337","11,680,283"
166,167,Mali,"32,625",742,"31,591",292,NaN,"1,519",35,"759,178","35,354","21,473,764"
167,168,Cayman Islands,"30,661",32,"8,553","22,076",1,"455,743",476,"222,773","3,311,280","67,277"
168,169,Saint Lucia,"29,408",391,"28,475",542,NaN,"158,865","2,112","210,354","1,136,355","185,113"
169,170,Benin,"27,638",163,"27,322",153,5,"2,162",13,"604,310","47,268","12,784,726"
170,171,Somalia,"27,214","1,352","13,182","12,680",NaN,"1,616",80,"400,466","23,778","16,841,795"
171,172,Congo,"24,837",386,"24,006",445,NaN,"4,284",67,"347,815","59,991","5,797,805"
172,173,Timor-Leste,"23,253",138,"23,102",13,NaN,"16,980",101,"278,529","203,391","1,369,429"
173,174,Burkina Faso,"21,631",387,"21,143",101,NaN,979,18,"248,995","11,265","22,102,838"
174,175,Solomon Islands,"21,544",153,"16,357","5,034",1,"29,874",212,"5,117","7,096","721,159"
175,176,San Marino,"20,763",118,"20,524",121,4,"609,154","3,462","157,634","4,624,732","34,085"
176,177,Gibraltar,"20,092",108,"16,579","3,405",NaN,"596,131","3,204","534,283","15,852,213","33,704"
177,178,Liechtenstein,"19,713",86,"19,403",224,2,"513,533","2,240","102,174","2,661,682","38,387"
178,179,Grenada,"19,536",237,"19,248",51,4,"172,161","2,089","179,808","1,584,560","113,475"
179,180,Nicaragua,"18,491",225,"4,225","14,041",NaN,"2,728",33,NaN,NaN,"6,779,100"
180,181,Bermuda,"18,154",148,"17,969",37,NaN,"293,095","2,389","1,006,083","16,243,126","61,939"
181,182,South Sudan,"17,823",138,"17,335",350,1,"1,534",12,"410,280","35,313","11,618,511"
182,183,Tajikistan,"17,786",125,"17,264",397,NaN,"1,786",13,NaN,NaN,"9,957,464"
183,184,Equatorial Guinea,"17,012",183,"16,690",139,5,"11,367",122,"365,697","244,342","1,496,662"
184,185,Tonga,"16,182",12,"15,638",532,NaN,"150,182",111,"535,009","4,965,327","107,749"
185,186,Samoa,"15,925",29,"1,605","14,291",4,"78,743",143,"187,397","926,612","202,239"
186,187,Dominica,"15,747",74,"15,651",22,NaN,"217,668","1,023","228,799","3,162,653","72,344"
187,188,Djibouti,"15,690",189,"15,427",74,NaN,"15,441",186,"305,941","301,094","1,016,097"
188,189,Marshall Islands,"15,275",17,"15,166",92,22,"254,342",283,NaN,NaN,"60,057"
189,190,CAR,"14,913",113,"14,520",280,2,"2,973",23,"81,294","16,205","5,016,678"
190,191,Monaco,"14,608",63,"14,478",67,4,"367,192","1,584","78,646","1,976,875","39,783"
191,192,Gambia,"12,508",372,"12,028",108,NaN,"4,889",145,"155,686","60,851","2,558,482"
192,193,Saint Martin,"11,978",63,"1,399","10,516",7,"301,485","1,586","112,382","2,828,643","39,730"

In [16]:
Analyse_data.shape[1]

13

In [17]:
Data.shape[1]

13

In [22]:
mean = Analyse_data["Total\nDeaths"].mean(axis = 0, skipna = False)

TypeError: can only concatenate str (not "float") to str