In [1]:
import pandas as pd

In [2]:
s= pd.Series([9,7,3,1,5],index=['a','b','c','d','e'])
print(s)

a    9
b    7
c    3
d    1
e    5
dtype: int64

In [3]:
ds1 = pd.Series([2,9,43,8,1,6,7,44,5])
ds2 = pd.Series([3,8,2,4,6,7,2,6,4])

In [4]:
ds1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9 entries, 0 to 8
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 200.0 bytes

In [5]:
ds2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9 entries, 0 to 8
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 200.0 bytes

In [6]:
print(ds1)

0     2
1     9
2    43
3     8
4     1
5     6
6     7
7    44
8     5
dtype: int64

In [7]:
print(ds2)

0    3
1    8
2    2
3    4
4    6
5    7
6    2
7    6
8    4
dtype: int64

# Arithmetic Operation

In [8]:
print(ds1 + ds2)

0     5
1    17
2    45
3    12
4     7
5    13
6     9
7    50
8     9
dtype: int64

In [9]:
print(ds1 - ds2)

0    -1
1     1
2    41
3     4
4    -5
5    -1
6     5
7    38
8     1
dtype: int64

In [10]:
print(ds1 * ds2)

0      6
1     72
2     86
3     32
4      6
5     42
6     14
7    264
8     20
dtype: int64

In [11]:
print(ds1 / ds2)

0     0.666667
1     1.125000
2    21.500000
3     2.000000
4     0.166667
5     0.857143
6     3.500000
7     7.333333
8     1.250000
dtype: float64

In [12]:
print(ds1 % ds2)

0    2
1    1
2    1
3    0
4    1
5    6
6    1
7    2
8    1
dtype: int64

# Compare...

In [13]:
print(ds1 == ds2)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [14]:
print(ds1 > ds2)

0    False
1     True
2     True
3     True
4    False
5    False
6     True
7     True
8     True
dtype: bool

In [15]:
print(ds1 < ds2)

0     True
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [16]:
dicto = {'Mobile':['iPhone','Redmi','Vivo','Samsumg','Nokia','Infinix'],
            'Rating':[1,3,2,5,15,6],
            'Price':[75000,15000,15000,10000,1500,12000],
            'Color':['White','Black','Mat_Black','Blue','Black','Blue']}

In [17]:
dicto

{'Mobile': ['iPhone', 'Redmi', 'Vivo', 'Samsumg', 'Nokia', 'Infinix'],
 'Rating': [1, 3, 2, 5, 15, 6],
 'Price': [75000, 15000, 15000, 10000, 1500, 12000],
 'Color': ['White', 'Black', 'Mat_Black', 'Blue', 'Black', 'Blue']}

In [18]:
pd.Series(dicto)

Mobile    [iPhone, Redmi, Vivo, Samsumg, Nokia, Infinix]
Rating                               [1, 3, 2, 5, 15, 6]
Price          [75000, 15000, 15000, 10000, 1500, 12000]
Color       [White, Black, Mat_Black, Blue, Black, Blue]
dtype: object

In [19]:
dict2 ={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [20]:
pd.Series(dict2)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [21]:
import numpy as np

In [22]:
array = np.array([6,8,1,3,4,7,9,2])

In [23]:
pd.Series(array)

0    6
1    8
2    1
3    3
4    4
5    7
6    9
7    2
dtype: int32

In [24]:
revised_data = pd.DataFrame(dicto)

In [25]:
revised_data

    Mobile  Rating  Price      Color
0   iPhone       1  75000      White
1    Redmi       3  15000      Black
2     Vivo       2  15000  Mat_Black
3  Samsumg       5  10000       Blue
4    Nokia      15   1500      Black
5  Infinix       6  12000       Blue

In [26]:
s1 = revised_data.iloc[:,2]

In [27]:
s1

0    75000
1    15000
2    15000
3    10000
4     1500
5    12000
Name: Price, dtype: int64

In [28]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [30]:
new = ds1.append(pd.Series([88]))

C:\Users\NISHANT\AppData\Local\Temp\ipykernel_5944\2934747967.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = ds1.append(pd.Series([88]))

In [31]:
print(new)

0     2
1     9
2    43
3     8
4     1
5     6
6     7
7    44
8     5
0    88
dtype: int64

In [33]:
ds1.mean()

13.88888888888889

In [34]:
ds1.std()

16.98855824109601

# value which is not present in another series

In [35]:
result= ds1[~ds1.isin(ds2)]

In [36]:
result

1     9
2    43
4     1
7    44
8     5
dtype: int64

In [38]:
arr = np.array(ds1)

In [39]:
arr

array([ 2,  9, 43,  8,  1,  6,  7, 44,  5], dtype=int64)

In [44]:
arr.sort()

In [45]:
arr

array([ 1,  2,  5,  6,  7,  8,  9, 43, 44], dtype=int64)